@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

html {
  box-sizing: border-box;
  font-family: "Josefin Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  border: 0;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}
body {
  user-select: none;
  background-color: #0f0f0f;
  min-height: 100dvh;
  width: 100%;

  display: grid;
  grid-template: 200px 1fr/ 300px 1fr;
  grid-template-areas: "sidebar header" "sidebar main";
}
.sidebar {
  background-color: #232d3f;
  grid-area: sidebar;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;

  color: white;
  fill: white;

  padding: 30px;
  resize: both;
}
.sidebar > h1 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  line-height: 100%;
  width: 100%;
  height: 50px;
  gap: 15px;
}
.sidebar > h1 > svg {
  width: 50px;
}
.options {
  display: flex;
  gap: 15px;
  width: 100%;
  list-style: none;
  flex-direction: column;
  font-size: large;
}
.options > li {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 10px;
  cursor: pointer;
  background-color: rgba(256, 256, 256, 0.1);
  border-radius: 10px;
}
.options > li:hover {
  transform: scale(1.02);
}
.options > li > svg {
  width: 30px;
}
header {
  background-color: #005b41;
  grid-area: header;

  display: grid;
  grid-template: 1fr 2fr / 2fr 1fr;
  grid-template-areas: "search profile" "greeting buttons";
}
.search {
  grid-area: search;
  fill: #fff;

  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 20px;
}
.search > svg {
  width: 30px;
  stroke: white;
  stroke-width: 2px;
  cursor: pointer;
}
.search-box {
  flex: 1;
  height: 60%;
  background-color: #f0f0f0;
  border-radius: 50px;
  padding-left: 20px;
}
.search-box:focus {
  outline: none;
}
.profile {
  grid-area: profile;

  color: #fff;
  fill: white;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  padding: 15px 40px;
}
.profile > svg {
  width: 30px;
  cursor: pointer;
}
.profile > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.profile > h3 {
  margin-top: 10px;
}
.greeting {
  grid-area: greeting;
  display: grid;
  grid-template: 40px 40px / 80px 1fr;
  grid-template-areas: "image hello" "image name";
  gap: 10px;
  color: #fff;
  padding: 10px 20px;
}
.greeting > img {
  width: 100%;
  grid-area: image;
  border-radius: 50%;
  align-self: center;
}
.greeting > h4 {
  grid-area: hello;
  align-self: self-end;
}
.greeting > h2 {
  grid-area: name;
}
.buttons {
  grid-area: buttons;
  background-color: #630000;
}
main {
  grid-area: main;
}
